.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 10000;

}

.sidebar-link {
  display: flex;
  height: 74px;
  margin-bottom: 1px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5px;
  cursor: pointer;

}

.sidebar-link:hover {

  background-color: #EEEEEE;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 10px;
}
